Language: Cpp
BasedOnStyle: LLVM

AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveBitFields: Consecutive
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: true
BreakBeforeBraces: Stroustrup
ColumnLimit: 120
IndentWidth: 4
PointerAlignment: Right
SpaceAfterCStyleCast: false
