Language: Cpp
BasedOnStyle: LLVM

AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveBitFields: Consecutive
AllowShortFunctionsOnASingleLine: None
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: true
BreakBeforeBraces: Stroustrup
ColumnLimit: 120
IndentWidth: 4
PointerAlignment: Right
SpaceAfterCStyleCast: false
